*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
/common/api/build
/common/build

# iOS
ios/TVPTeen.xcworkspace/xcuserdata/
ios/*.ipa
ios/*.dSYM.zip
ios/*.dSYM
ios/.build/
ios/Pods
ios/Podfile.lock
Localizable/node_modules
